<div class="page-header">
    <h1>
        Manage hotels
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit Hotel
        </small>
    </h1>
</div>
<div>
    <div class="row col-xs-12">
        <form class="form-horizontal form-edit-enterdprise" action="/admin/hotels?_method=PATCH" method="POST">
            <input name="idHotel" hidden type="text" id="form-field-1" value="{{hotel.id}}" class="col-xs-10 col-sm-5">
            <div class="form-group" style="padding: 20px; padding-top: 40px">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">Hotel Name</label>
                <div class="col-sm-9">
                    <input name="hotelName" type="text" id="form-field-1" value="{{hotel.name}}"
                        class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group" style="padding: 20px;">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">Hotel Code</label>
                <div class="col-sm-9">
                    <input name="hotelCode" type="text" id="form-field-1" value="{{hotel.code}}"
                        class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group" style="padding: 20px;">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">Hotel Address</label>
                <div class="col-sm-9">
                    <input name="hotelAddress" type="text" id="form-field-1" value="{{hotel.hotelAddress}}"
                        class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group" style="padding: 20px;">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">The number of rooms</label>
                <div class="col-sm-9">
                    <input name="roomAmount" type="number" id="form-field-1" value="{{hotel.roomAmount}}"
                        class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group" style="padding: 20px;">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">The number of employees</label>
                <div class="col-sm-9">
                    <input name="employeeAmount" type="number" id="form-field-1" value="{{hotel.employeeAmount}}"
                        class="col-xs-10 col-sm-5">
                </div>
            </div>
            <div class="form-group" style="padding: 20px;">
                <label class="col-sm-3 control-label no-padding-right" style="text-align:justify;"
                    for="form-field-1">Description</label> 
                <div class="col-sm-9">
                    <textarea name="description" id="form-field-1"
                        class="col-xs-10 col-sm-5">{{hotel.description}}</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-danger col-sm-2" style="left:40%">Save</button>
        </form>
    </div>
</div>