<div class="page-header">
    <h1>
        Manage hotels
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Hotel Information
        </small>
    </h1>
</div>
<div>
    <div class="col-xs-12 col-sm-3 center">
        <span class="profile-picture">
            <img style="cursor: pointer;" class="editable img-responsive"
                alt="{{hotel.id}}" src="{{#if hotel.avatarUrl}}
                    /static/{{hotel.avatarUrl}} 
                    {{else}}
                    /static/public/admin/assets/images/avatars/avatar_default.png
                    {{/if}}
                " />
            <input id="avater-file-select" style="display: none;" type="file" name="avatar"
                accept="image/*" />
        </span>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Hotel Name</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.name}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Hotel Code</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.code}}</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Hotel Address</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.hotelAddress}}</span>
                </div>
            </div>            

            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">The number of rooms</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.roomAmount}}</span>
                </div>
            </div>    
            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">The number of employees</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.employeeAmount}}</span>
                </div>
            </div>    
            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Created</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.createdAt}}</span>
                </div>
            </div>    
            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Updated</div>
                <div class="profile-info-value">
                    <span class="editable">{{hotel.updatedAt}}</span>
                </div>
            </div>                    
            <div class="profile-info-row">
                <div class="profile-info-name" style="text-align:justify;">Description</div>
                <div class="profile-info-value">
                    <textarea class="editable">{{hotel.description}}</textarea>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <a href="{{hotel.id}}/edit">
            <span class="btn btn-purple no-border   ">
                <i class="ace-icon fa fa-edit bigger-130"></i>
                <span class="bigger-110">Edit Hotel</span>
            </span>
        </a>
        <a style="padding-left: 5%;" data-toggle="modal" data-id = "{{hotel.id}}" data-target="#delete-hotel-modal">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa fa-edit bigger-130"></i>
                <span class="bigger-110">Delete Hotel</span>
            </span>
        </a>
    </div>
</div>

<!-- Modal -->
<div id="delete-hotel-modal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Hotel?</h1>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete this hotel?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-hotel" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Delete hidden form-->
<form name="delete-hotel-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var hotelID;
        var deleteform = document.forms['delete-hotel-form'];
        var btnDeleteHotel = document.getElementById('btn-delete-hotel')

        $('#delete-hotel-modal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            hotelID = button.data('id');
        });

        btnDeleteHotel.onclick = function(){
            var action = '/admin/hotels/' + hotelID + '?_method=DELETE';
            deleteform.action='/admin/hotels/' + hotelID + '?_method=DELETE';
            deleteform.submit(); 
        }
    });

    const avatar = document.querySelector("#avatar");
    const fileSelect = document.querySelector("#avatar-file-select");

    if (!!avatar && !!fileSelect) {
        avatar.onclick = (e) => {
            fileSelect.click()
        }
        fileSelect.onchange = async (e) => {
            const formData = new FormData();
            formData.append("avatar", e?.target?.files[0]);
            var path = (window.URL || window.webkitURL).createObjectURL(e?.target?.files[0]);
            await fetch("{{ url }}/admin/hotels/api?_method=PATCH", {
                method: 'POST',
                headers: {
                    //'Content-Type': 'multipart/form-data', ???
                    auth: getCookie("auth"),
                },
                body: formData
            })
                .then(res => res.json())
                .then(res => {
                    avatar.setAttribute("src", path);
                    showToastMessage(res.message);
                })
                .catch(res => {
                    showToastMessage(res.message);
                })
        }
        avatar.onerror = (e) => {
            avatar.src = "/static/public/admin/assets/images/avatars/avatar_default.png";
        }
    } 
</script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var hotelID;
        var deleteform = document.forms['delete-hotel-form'];
        $('#delete-hotel-modal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            hotelID = button.data('id');
        });
        let btnDeleteHotel = document.getElementById('btn-delete-hotel')
        // bị sao v
        btnDeleteHotel.onclick = function(){
            deleteform.action='/admin/hotels/' + {{hotel.id}} + '?_method=DELETE';
            deleteform.submit(); 
        }
    });
</script>
