<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Room</a>
            </li>
            <li class="active">Room Management</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                        autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>
    <div class="page-content">
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>

            <div class="ace-settings-box clearfix" id="ace-settings-box">
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-add-container">
                            Inside
                            <b>.container</b>
                        </label>
                    </div>
                </div><!-- /.pull-left -->

                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                        <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight"
                            autocomplete="off" />
                        <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                    </div>
                </div><!-- /.pull-left -->
            </div><!-- /.ace-settings-box -->
        </div><!-- /.ace-settings-container -->

        <div class="page-header">
            <h1>
                Room View
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    View room status and manage check-in and check-out.
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 check-in-room">
                                <div class="room-body">
                                    <div class="room-body-info">
                                        <img src="https://thietkenoithat.com/Portals/0/DNNGo_PhotoAlbums/53503/9888/Phong%20Ngu%20Master%20(4).jpg"
                                            alt="{{room.name}}">
                                        <div
                                            style="display: flex; flex-direction: column; justify-content: space-evenly;">
                                            <div class="room-id">
                                                <p>ID:</p>
                                                <span>{{room.id}}</span>
                                            </div>
                                            <h4 class="room-name">{{room.name}}</h4>
                                            <span class="room-status">{{room.status}}</span>
                                        </div>
                                    </div>
                                    <div class="room-booked">
                                        <span class="room-user-id"></span>
                                        <span class="room-user-name"></span>
                                        <span class="room-check-in"></span>
                                        <span class="room-check-out"></span>
                                    </div>
                                    <div class="room-box">
                                        <h5>Description</h5>
                                        <span>{{room.description}}</span>
                                    </div>
                                    <div class="col-xs-6" style="padding: 0;">
                                        <div class="room-box">
                                            <h5>Floor</h5>
                                            <span>{{room.floor}}</span>
                                        </div>
                                        <div class="room-box">
                                            <h5>Room Type</h5>
                                            <span>{{room.Room_Type.name}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="padding: 0;">
                                        <div class="room-box">
                                            <h5>Price</h5>
                                            <span>${{room.Room_Type.price}}/Night</span>
                                        </div>
                                        <div class="room-box">
                                            <h5>Bed Number</h5>
                                            <span>{{room.Room_Type.bedNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="padding: 0;">
                                        <div class="room-box">
                                            <h5>Created At</h5>
                                            <span>{{formatDate room.createdAt}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" style="padding: 0;">
                                        <div class="room-box">
                                            <h5>Updated At</h5>
                                            <span>{{formatDate room.updatedAt}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="col-xs-6 check-in-info">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                                        <li class="active">
                                            <a data-toggle="tab" href="#old-user">Already Exists User</a>
                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#new-user">New User</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="old-user" class="tab-pane in active">
                                            <form action="/admin/check-in/create/{{room.id}}" method="POST">
                                                <div class="form-group">
                                                    <label class=" control-label no-padding-right"
                                                        for="form-employee-id">Employee ID:</label>
                                                    <div style="display: flex; flex-direction: column; color: red;">
                                                        <input type="text" id="form-employee-id" name="employeeId"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label no-padding-right"
                                                        for="form-user-id">User ID:</label>
                                                    <div style="display: flex; flex-direction: column; color: red;">
                                                        <input type="text" id="form-user-id" name="userId" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label no-padding-right"
                                                        for="form-room-id">Room ID:</label>
                                                    <div style="display: flex; flex-direction: column; color: red;">
                                                        <input type="text" id="form-room-id" name="roomId"
                                                            placeholder="" value="{{room.id}}" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label no-padding-right"
                                                        for="form-check-in">Check-In Date:</label>
                                                    <div style="display: flex; flex-direction: column; color: red;">
                                                        <input type="date" id="form-check-in" name="checkInDate"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class=" control-label no-padding-right"
                                                        for="form-check-out">Check-Out Date:</label>
                                                    <div style="display: flex; flex-direction: column; color: red;">
                                                        <input type="date" id="form-check-out" name="checkOutDate"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="room-navigate">
                                                    <a href="/admin/rooms/{{room.id}}" class="btn btn-default">Back</a>
                                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="new-user" class="tab-pane"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>


<script src="/static/public/admin/assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/static/public/admin/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/static/public/admin/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>

<!-- page specific plugin scripts -->

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        const status = $('.room-status').text().trim();
        switch (status) {
            case 'available': {
                $('.room-status').addClass('label label-success arrowed');
                break;
            }
            case 'occupied': {
                $('.room-status').addClass('label label-danger arrowed');
                break;
            }
            case 'cleaning': {
                $('.room-status').addClass('label label-info arrowed');
                break;
            }
            case 'maintenance': {
                $('.room-status').addClass('label label-warning arrowed');
                break;
            }
            default: {
                $('.room-status').addClass('label');
            }
        }
    });
</script>