<div class="container shadow-box">
    <div class="row" style="padding: 0 32px">
        <div class="col-sm-6">
            <div class="room-image">
                <img src="{{infoRoom.image}}" alt="" srcset="">
            </div>
        </div>
        <div class="col-sm-6">
            <h2>1 {{infoRoom.name}}</h2>
            <h4>Type of Room: {{infoRoom.type}}</h4>
            <h4>Floor: {{infoRoom.floor}}</h4>
            <h4>Hotel: {{infoRoom.hotelID}}</h4>
            <h4>Status: {{infoRoom.status}}</h4>
            <h4>Amount of beds: {{infoType.bedNumber}}</h4>
            <h4>Price: {{infoType.roomPrice}}</h4>
            <p>{{infoRoom.description}}</p>
            <div class="room-navigate">
                <button onclick="handleAddtoCart({{infoRoom.id}})" class="btn-book">Book</button>
            </div>
        </div>
    </div>
</div>

<script>
    function handleAddtoCart(roomId) {
        const cartHome = document.querySelector(".cart-home");
        fetch(`/rooms/booking`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                auth: getCookie("auth"),
            },
            body: JSON.stringify({
                roomId,
            })
        }).then(res => res.json())
            .then(result => {
                const { message, bookings, rediectTo } = result;
                if (!!rediectTo) {
                    window.location = `/${rediectTo}`;
                    return;
                }
                showToastMessage(message);
                cartHome.classList.add("has-item");
                cartHome.querySelector(".cart-home-amount").innerText = bookings.length || 0;
            })
            .catch(error => {
                cartHome.classList.remove("has-item");
                console.log("error", error)
            })
    }
</script>